# Lesson 8 Hands On by La-Vie Borde

## Importing Package and Data File

In [1]:
import pandas as pd

In [2]:
BisonTracking = pd.read_csv('/Users/chercher/Desktop/dataScience/Python/lesson8PythonForDS/lesson8handson/BisonTracking.csv')

## Viewing data head - top 7

In [6]:
BisonTracking.head(8)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7
7        Agate Basin-Agate Basin            460  Bison  antiquus       8

## Viewing data tail - last 11

In [17]:
BisonTracking.tail(11)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1096,Simonsen,SEC. 8 E2 #bb,Bison,antiquus,9
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

## Number of Columns

### There are 5 columns in the data set.

In [14]:
len(BisonTracking.columns)

5

## Number of Rows

### There are 1107 rows in the data set.

In [13]:
len(BisonTracking)

1107

## How many bison are of the species antiquus?

### There are 633 bison in the data set designated as the species antiquus.

In [23]:
BisonTracking.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

## What is the mean and standard deviation of length?

### The mean is 7.98 and the standard deviation is 0.81.

In [18]:
BisonTracking.describe()

            Length
count  1107.000000
mean      7.981030
std       0.808299
min       7.000000
25%       7.000000
50%       8.000000
75%       9.000000
max       9.000000

## What is the median length of the bison?

### The median length of the bison is 8.0.

In [19]:
BisonTracking.median()

Length    8.0
dtype: float64